$font-stack:    Helvetica, sans-serif
$primary-color: #006699

body
  font: 100% $font-stack
  color: $primary-color

footer
  margin: 30px
  border-top: 1px solid $primary-color
  .social
    display: flex
    justify-content: center
    a
      width: 26px
      height: 26px
      padding: 10px
      display: block
