$primary: #006699
$black: #222
$gray: #ccc
$white: #fff
$rfs-base-value: 12

@import "mixins"
@import "~rfs/scss"
@import "base"
@import "header"
@import "footer"

.home
  #app
    +breakpoint(lg)
      header
        display: block

#app
  +breakpoint(sm)
    p.intro
      padding: 10%
  +breakpoint(lg)
    p.intro
      padding: 4% 10%

.games
  .iframeHolder
    width: 100%
    margin-bottom: 5em
    position: relative
    &::before
      position: relative
      padding-bottom: 56.25%
      padding-top: 0
      height: 0
      content: ""
      display: block
    iframe
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
  .game
    cursor: pointer
    padding: 1em 0
    img
      width: 100%
  ul
    font-size: inherit
    li
      line-height: 1.6em
      cursor: pointer
  +breakpoint(lg)
    .game-list
      display: flex
      flex-wrap: wrap
      gap: 10%
      .game
        flex: 1 40%
        width: 40%


.home2
  h2
    text-align: center
  .axis
    padding: 20px 0
    h3
      padding-bottom: 0
      a
        font-size: inherit
        text-decoration: none
    .left, .right
      video
        width: 100%
    +breakpoint(lg)
      padding: 0
      display: flex
      .left, .right
        padding: 20px
        flex: 1
        width: 50%
      &:nth-child(2n)
        flex-direction: row-reverse

.home
  .intro
    position: relative
    p
      position: absolute
      top: 0
      padding: 0
      margin: 0
      line-height: 1.4em
      text-align: center
      +font-size(1rem)
      opacity: 0
    .skip
      position: absolute
      bottom: 10px
      right: 10px
      border: 1px solid $primary
      color: $primary
      font-size: 1em
      padding: 0.3em 1em
      background: white
      font-weight: normal
      opacity: 0.8
      cursor: pointer
      outline: 0

    .chairL
      left: 4%
    .chairR
      right: 4%
    .chairL, .chairR
      cursor: pointer
      position: absolute
      width: 40%
      top: 25%
      text-align: center
      transform-origin: center center
      transform: scale(0.5)
      opacity: 0
      a
        height: 2em
        line-height: 2em
        color: #aaa
        text-decoration: none
        transition-delay: 1s
        opacity: 0
    &.ended
      .skip
        opacity: 0
        pointer-events: none
        transition: opacity 1s
      .chairR,.chairL, p
        transition: opacity 1s, transform 1s
        opacity: 1
        transform: scale(1)
        a
          opacity: 1
      p
        transition-delay: 1s

    video
      width: 100%
  +breakpoint(sm)
    .intro
      .chairL, .chairR
        width: 30%
        top: 20%
      .chairL
        left: 10%
      .chairR
        right: 10%
      .skip
        font-size: 1.25em
        padding: 0.5em 2em

  +breakpoint(lg)
    .intro
      p
        padding: 10% 32%
      .chairL, .chairR
        top: 0
      .chairL
        left: 4%
      .chairR
        right: 4%
      .skip
        bottom: 20px
        right: 20px
        font-size: 1.5em


    header
      h1
        display: none
      .home-logo
        display: block
        width: 45%
        margin: 40px auto 0
      .links
        text-align: center

.sitemap
  main
    text-align: left
    +font-size(1.0rem)
    nav
      margin-left: 3em
      a
        color: $black
        font-size: 1rem
      nav
        a
          color: $primary
        nav
          a
            color: $black
    a
      display: block
      line-height: 2.5em
      font-size: 1.2rem
      color: $primary
        
.level1
  .overview p
    +font-size(1.3rem)
  figure
    margin: 0
    a
      text-align: center
      display: block
      line-height: 1.6em
  .post-content
    .gatsby-resp-image-wrapper
      margin: 2em 0

  h2
    text-align: center
    
  .pager
    display: flex
    line-height: 3em
    h3
      flex: 1
      margin: 0
      padding: 0
      text-align: center

    span
      filter: saturate(0)
      opacity: 0.5
    a,span
      display: block
      padding: 0 0 0 1em
      font-size: 1.2rem
      &:nth-child(1)
        padding: 0 1em 0 0
      &::after
        display: block
        content: ""
        border-top: 1em solid transparent
        border-bottom: 1em solid transparent
    &.object
      font-size: 0.7em
      a,span
        &::after
          border-left: 1em solid $gray
          border-right: 0
        &:nth-child(1)
          &::after
            border-left: 0
            border-right: 1em solid $gray

    &.foot
      padding: 2em 0 5em
      a,span
        flex: 1
        &::after
          float: right
        &:nth-child(1)
          &::after
            float: left
