
header
  h1
    margin: 0
    padding: 5% 20%
    a
      display: block
      position: relative
      overflow: hidden
      img
        width: 100%
        display: block
      span
        display: block
        position: absolute
        text-indent: -999em
  a
    color: $black
  .home-logo
    display: none
    img
      width: 100%
  .links
    width: 75%
    margin: 50px auto 20px
    display: none
    text-align: right
    a, > nav
      margin: 0 1em
    > nav
      position: relative
      display: inline-block
      a
        display: block
    .dropdown
      padding: 1em 2em
      width: 22rem
      position: absolute
      top: 1.2rem
  .burger-menu
    > a
      z-index: 10
      position: absolute
      top: 0
      right: 0
      width: 2em
      height: 2em
      padding: 1em 1.5em
      display: flex
      flex-direction: column
      span
        transition: all 0.3s linear
        background: $primary
        display: block
        height: 17%
        margin-bottom: 12%
        border-radius: 0.5rem
        position: relative
    .dropdown
      position: absolute
      top: 0
      left: 0
      right: 0
    &.open 
      > a
        span
          background: $white
  .dropdown
    z-index: 9
    text-align: left
    padding: 2em 3em
    background: $primary
    nav
      margin-left: 3em
    a
      display: block
      line-height: 2.5em
      color: $white
      text-decoration: none
      &:hover
        text-decoration: underline
        

#app
  +breakpoint(sm)
    header
      .burger-menu
        .dropdown
          left: 50%
  +breakpoint(lg)
    header
      display: flex
      h1
        width: 25%
        padding: 40px 0 0 0
      .burger-menu
        display: none
      .links
        display: block

